.dNone {
    display: none !important;
}

.separator {
    width: 0.5px;
    background-color: #D1D1D1;
    margin: 0 40px;
}

.formSection {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    position: relative;
}

.form {
    display: flex;
    height: 432px;
    color: #2A3647;
    margin-bottom: 88px;
}

input,
select,
textarea {
    font-size: 20px;
    font-family: 'Inter';
    padding: 8px 16px;
    border: solid 1px #DBDBDB;
    border-radius: 8px;
    width: 440px;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
}

textarea {
    height: 104px;
    resize: none;
    background-image: url(../assets/images/textarea_resize.svg);
    background-repeat: no-repeat;
    background-position: right 4px bottom 4px;
}

input:focus {
    border-color: #29ABE2;
}

select {
    appearance: none;
}

select:hover {
    border-color: #A8A8A8;
}

select:focus {
    border-color: #29ABE2;
}

textarea:focus {
    border-color: #29ABE2;
}

::placeholder {
    color: #D1D1D1;
}

/* Input Symbols */
.inputSymbol {
    position: absolute;
    cursor: pointer;
    overflow: visible;
    border-radius: 50%;
}

.arrowDownSymbol {
    top: 43px;
    right: 12px;
    padding: 8px;
}

.arrowDownSymbol:hover {
    background-color: #EAEBEC;
}

/* SUBTASKS */
.subtasksAddSymbol {
    right: 12px;
    top: 42px;
    padding: 4px;
}

.subtasksAddSymbol:hover {
    background-color: #EAEBEC;
}

/* added subtasks */
.ulContainer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 16px;
    padding: 0 12px 4px 16px;
}

.ulContainer:hover {
    cursor: pointer;
    background-color: #EAEBEC;
}

.subtaskListElements {
    margin-left: 16px;
    margin-top: 4px;
}

.subtaskEditContainer {
    display: flex;
}

.subtaskEditContainer img {
    width: 20px;
}

.subtaskSeparator {
    width: 0.5px;
    background-color: #D1D1D1;
    margin: 0 4px 0 4px;
}

/* prios */
.prioCategoriesContainer {
    display: flex;
    gap: 16px;
}

.prioCategory {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    background-color: white;
    border: solid 1px #EAEBEC;
    border-radius: 8px;
    gap: 8px;
    width: 136px;
    color: black;
    font-size: 20px;
}

.prioCategory:hover {
    box-shadow: 0px 5px 4px 0px #BCBDBE;
    cursor: pointer;
}

.marginBo8 {
    margin-bottom: 8px;
}

.required:after {
    content: "*";
    color: #FF8190;
}

.footerRequiredField {
    font-size: 16px;
}

.footerRequiredField:before {
    font-size: 20px;
    content: "*";
    color: #FF8190;
}

.footerBtnContainer {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-top: 80px;
}

.addTaskBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 14px;
    border: solid 1px #2A3647;
    border-radius: 12px;
    gap: 8px;
    font-size: 20px;
    font-family: 'Inter';
    cursor: pointer;
}

.addTaskBtn:hover {
    box-shadow: 0px 5px 4px 0px #BCBDBE;
}

.clearBtn {
    background-color: transparent;
    color: #2A3647;
}

.clearBtn:hover {
    color: #29ABE2;
    border-color: #29ABE2;
    transition: 200ms;
}

.clearBtn svg path {
    stroke: #2A3647;
}

.clearBtn:hover svg path {
    stroke: #29ABE2;
    transition: 200ms;
}

.createBtn {
    background-color: #2A3647;
    color: white;
    font-weight: 600;
}

.createBtn:hover {
    background-color: #29ABE2 !important;
    border-color: #29ABE2;
    transition: 200ms;
}

.colorBlack {
    color: black;
}

/* onclick */
.urgent {
    background-color: #FF3D00;
    color: white;
    box-shadow: none !important;
    font-weight: bold;
}

.medium {
    background-color: #FFA800;
    color: white;
    box-shadow: none !important;
    font-weight: bold;
}

.low {
    background-color: #7AE229;
    color: white;
    box-shadow: none !important;
    font-weight: bold;
}