input {
    width: 312px;
    border-radius: 10px;
    padding: 8px 16px;
}

.board {
    padding: 0 64px;
}

.headerBoard {
    display: flex;
    justify-content: space-between;
}

.headerFlex {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 32px;
}

.headerFlex input,
button {
    height: 48px;
}

.input-container {
    display: inline-block;
}

.input-wrapper {
    position: relative;
}

.input-icon {
    color: lightgrey;
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    cursor: pointer;
}

.border-left {
    position: absolute;
    top: 8px;
    right: 64px;
    height: 31px;
    width: 1px;
    background: #d1d1d1;
    pointer-events: none;
}

.input-icon:hover {
    background-color: lightgrey;
    border-radius: 9999px;
}

.status {
    display: flex;
    justify-content: space-between;
}

.standardImg {
    display: block;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.hoverImg {
    display: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.standardImg:hover+.hoverImg {
    display: block;
}

.standardImg:hover {
    display: none;
}

.d-flex {
    display: flex;
    flex-direction: column;
    width: 252px;
}

.test2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #42526E;
    font-weight: 700;
    font-size: 20px;
}

.no-to-do {
    color: #a8a8a8;
    border: 1px dotted #a8a8a8;
    background-color: #e7e7e7;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.user-story {
    width: 256px;
    background-color: #0038FF;
    color: white;
    padding: 4px 16px 4px 16px;
    border-radius: 8px;
    margin: 0;
    width: max-content;
}

.status-board {
    display: flex;
    background-color: #ffff;
    border-radius: 24px;
    padding: 16px;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
    margin-bottom: 16px;
    cursor: pointer;
}

.status-board span {
    color: #a8a8a8;
    font-weight: 400;
}

.progress {
    border-radius: 4px;
    background-color: #F4F4F4;
    display: flex;
    justify-content: space-between;
    width: 128px;
}

.progress-bar {
    width: 50%;
    border-radius: 8px;
    height: 8px;
    background-color: #007bff;
}

.priority {
    display: flex;
    justify-content: end;
}

.flex-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 220px;
}

.flex-box p {
    font-size: 12px;
}

.technical-task {
    width: 256px;
    background-color: #1FD7C1;
    color: white;
    padding: 4px 16px 4px 16px;
    border-radius: 8px;
    margin: 0;
    width: max-content;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 40px;
    width: 100%;
    height: 100%;
    animation: myModal 0.2s linear;
    overflow: hidden;
}

.modal-content {
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1116px;
    border-radius: 30px;
    padding: 48px 40px 48px 40px;
}

.modal-content h1 {
    margin: 0;
}

.modal-content p {
    font-size: 16px;
}

.add-task-board {
    margin: 0 auto;
}

.priority {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.priority-items {
    display: flex;
    align-items: center;
}

.priority img {
    margin-left: auto;
}

.priority-text {
    display: flex;
    align-items: flex-start;
    margin-right: 100px;
}

.priority-text p {
    margin: 0;
    outline-style: solid;
}

.FH {
    border-radius: 45px;
    font-size: 12px;
    padding: 8px;
    background-color: #8CAB98;
    color: white;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
}

.SW1 {
    border-radius: 45px;
    font-size: 12px;
    padding: 8px;
    background-color: #2A2239;
    color: white;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
}

.SW2 {
    border-radius: 45px;
    font-size: 12px;
    padding: 8px;
    background-color: #8C2526;
    color: white;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
}

.task {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 40px;
    width: 100%;
    height: 100%;
    animation: myModal 0.2s linear;
    overflow: hidden;
}

.open-task {
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 525px;
    border-radius: 30px;
    padding: 48px 40px 48px 40px;
    display: flex;
    gap: 24px;
}

#closeModal {
    color: #2A3647;
    background-color: white;
    border: none;
    border-radius: 56px;
    cursor: pointer;
    text-align: center;
    position: fixed;
    top: 64px;
    right: 24px;
}

#closeModal:hover {
    background-color: rgba(211, 211, 211, 0.551);
}

.open-task button {
    height: 32px;
    width: 32px;
}

.headline{
    font-size: 61px;
    margin: 12px 0;
}

.taskInformation{
    font-size: 20px;
    color: black!important;
}

.m-left1{
    margin-left: 16px;
    color: black!important;
}

.m-left2{
    margin-left: 32px;
    color: black!important;
}

.board-img{
    width: 17px;
    height: 12px;
}