/* .sidebarAddTask { */
/* min-height: 100vh !important;
    height: auto !important; */
/* position: fixed !important;
    z-index: 199 !important;
} */

/* .head-section-1 {
    margin-left: 272px !important;
} */

/* .main-content-AddTask {
    min-width: 100% !important;
    width: 100% !important;
} */

/* .addTaskMain {
    padding: 0 64px 0 120px !important;
} */


/* @media(max-width: 1024px) {
    .sidebar {
        flex-direction: row;
        justify-content: center;
        width: auto;
        height: auto !important;
        min-height: 0% !important;
        position: fixed !important;
        bottom: 0;
        left: 0;
        right: 0;
    }
} */