body {
    font-size: 16px;
}

h1 {
    font-size: 61px;
    padding-right: 24px;
}

h2 {
    font-weight: 400;
    font-size: 27px;
}

hr {
    height: 102.2px;
    margin: 0;
    border: 1px solid #D1D1D1;
}

a {
    color: black;
    text-decoration: none;
}

/* p {
    color: #2A3647;
} */

.summary {
    height: 90%;
    background-color: #f6f7f8;
}

.summaryMain {
    display: flex;
    align-items: center;
    padding: 0 64px;
}

.summaryHead {
    display: flex;
    align-items: center;
    padding: 0 64px;
}

.summaryHead h1 {
    border-right: 3px solid #29ABE2;
    line-height: 59px;
    margin-bottom: 24px;
}

.dFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
}

.dFlex h1 {
    margin: 0;
}

.borderRadius {
    padding: 38px 19px 38px 19px;
    background-color: white;
    border-radius: 30px;
    border: solid 1.5px #DBDBDB;
}

.flexDirection {
    display: flex;
    flex-direction: column;
}

.summaryHead h2 {
    margin-left: 24px;
    margin-bottom: -16px;
}

.summaryWidth {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: 230px; */
    /* width: 560px; */
    gap: 18px;
}

.date p:first-child {
    font-size: 21px;
    font-weight: 700;
}

.flexDirection h1 {
    font-size: 64px;
}

.taskInfo span {
    font-size: 21px;
    text-align: center;
}

.summaryTasks h1 {
    padding: 0;
    /* max-width: 560px; */
    text-align: center;
}

.itemsCenter {
    display: flex;
    align-items: center;
}

.summaryTasks {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 560px;
    text-align: center;
}

.firstList {
    padding: 38px 50px 38px 58px;
}

/* .thirdList {
    padding: 25px 58px 25px 58px;
} */

.flexDirection p {
    margin: 0;
}

.gap {
    display: flex;
    justify-content: space-around;
}

.maxWidth {
    width: 168px;
}

.summaryInfo {
    /* height: 168px; */
    cursor: pointer;
}

.greet {
    display: flex;
    flex-direction: column;
    padding-left: 64px;
    margin-bottom: 24px;
}

.greet h1 {
    color: #29ABE2;
    font-size: 64px;
    font-weight: 700;
    margin: 0;
}

.greet h2 {
    color: #2A3647;
    font-size: 47px;
    font-weight: 500;
    margin: 0;
}

.urgent {
    cursor: pointer;
}

.borderRadius:hover {
    background-color: #2A3647;
    color: white;
    transform: scale(1.05);
    transition: .100s;
}

.hover-image {
    display: none;
}

.firstList:hover .hover-image {
    display: block;
}

.firstList:hover .alternate-image {
    display: none;
}

.display-none {
    display: none;
}

/* responsive design */

@media(min-width:1024px) and (max-width:1221px) {
    .greet {
        padding-left: 24px;
    }

    .summaryMain {
        padding-left: 32px;
    }

    .summaryHead {
        padding-left: 32px;
    }

    .greet h2 {
        font-size: 45px;
    }

    .summaryTasks {
        gap: 16px;
    }
}

/* @media(max-width:1050px) {
    .greet h2 {
        font-size: 42px;
    }
} */

@media(max-width:1024px) {
    .greet h2 {
        font-size: 47px;
    }

    .summaryMain {
        padding: 0 24px;
    }

    .summaryHead {
        /* padding-left: 64px; */
        margin-top: -24px;
    }

    .summaryHead {
        flex-direction: column;
        padding-left: 32px;
        align-items: start;
        margin-bottom: 16px;
    }

    .summaryHead h1 {
        border-right: none;
        font-size: 56px;
        margin-block-end: 0;
        margin-bottom: 8px;
    }

    .summaryHead h2 {
        font-size: 22px;
        margin-left: 0;
        margin-bottom: 0;
        margin-block-start: 0;
        margin-block-end: 0;
    }

    .summaryTasks {
        gap: 8px;
        width: 100%;
        /* min-width: 100vw; */
    }

    .greet {
        display: none;
    }

    .decoline {
        margin-top: 24px;
    }

    .display-none {
        display: block;
    }

    /* .borderRadius {
        padding: 32px 40px
    } */

    .head-section-1 {
        margin-left: 0
    }

    .dFlex {
        width: 100%;
    }
}

/* @media(min-width:850px) {
    .firstList {
        width: 288px;
    }
} */

@media(min-width:700px) and (max-width:850px) {
    .firstList {
        width: 216px;
    }
}

@media(max-width:600px) {
    /* .content {
        min-height: 100vh;
        height: 100%;
    } */

    .summary {
        padding: 16px;
        height: 85%;
    }

    .summaryMain {
        padding: 0;
    }

    .summaryMain h1 {
        font-size: 40px;
    }

    .summaryHead {
        padding: 0;
        margin-bottom: 0 !important;
    }

    .summaryTasks {
        gap: 16px;
        width: 100%;
        /* min-width: 100vw; */
    }

    /* 
    .summaryHead h1 {
        border-right: none;
        font-size: 56px;
        margin-block-end: 0;
        margin-bottom: 8px;
    } */

    /* .summaryHead h2 {
        font-size: 22px;
        margin-left: 0;
        margin-bottom: 0;
        margin-block-start: 0;
        margin-block-end: 0;
    } */

    .summaryWidth {
        /* width: auto; */
        /* gap: 14px; */
        /* height: 200px; */
    }

    .summaryWidth span {
        font-size: 14px;
    }

    .decoline {
        margin-top: 16px;
    }

    .dFlex {
        gap: 8px;
    }

    .dFlex img {
        width: 48px;
    }

    .sidebar {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: auto;
        /* margin-top: 0; */
    }

    .borderRadius {
        display: flex;
        justify-content: center;
        padding: 16px;
    }

    .firstList {
        display: flex;
        justify-content: center;
        width: 184px;
        height: 88px;
        /* min-width: 100%; */
    }

    /* .thirdList {
        display: flex;
        justify-content: center;
    } */

    .maxWidth {
        width: 128px;
    }
}

/* @media(min-width:450px) and (max-width:500px) {
    .firstList {
        width: 168px;
    }
} */

@media(min-width:350px) and (max-width:450px) {
    .firstList {
        /* min-width: 100%; */
        width: 120px;
    }

    .maxWidth {
        width: 96px;
    }
}

@media(max-width:350px) {
    .firstList {
        /* min-width: 100%; */
        width: 104px;
    }

    .maxWidth {
        width: 80px;
    }

    .summaryWidth span {
        font-size: 12px;
    }
}