body {
    font-size: 16px;
}

h1 {
    font-size: 61px;
    padding-right: 24px;
}

h2 {
    font-weight: 400;
    font-size: 27px;
}

hr {
    height: 102.2px;
    margin: 0;
    border: 1px solid #D1D1D1;
}

a {
    color: black;
    text-decoration: none;
}

/* p {
    color: #2A3647;
} */

.summary{
    height: 90%;
    background-color: #f6f7f8;
}

.summaryMain {
    display: flex;
    align-items: center;
    padding: 0 64px;
}

.summaryHead {
    display: flex;
    align-items: center;
    padding: 0 64px;
}

.summaryHead h1 {
    border-right: 3px solid #29ABE2;
    line-height: 59px;
    margin-bottom: 24px;
}

.dFlex {
    display: flex;
    align-items: center;
    gap: 50px;
}

.dFlex h1 {
    margin: 0;
}

.borderRadius {
    padding: 38px 19px 38px 19px;
    background-color: white;
    border-radius: 30px;
}

.flexDirection {
    display: flex;
    flex-direction: column;
}

.summaryHead h2 {
    margin-left: 24px;
    margin-bottom: -16px;
}

.summaryWidth {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 230px;
    width: 560px;
    gap: 18px;
}

.date p:first-child {
    font-size: 21px;
    font-weight: 700;
}

.flexDirection h1 {
    font-size: 64px;
}

.taskInfo span {
    font-size: 21px;
    text-align: center;
}

.summaryTasks h1 {
    padding: 0;
    max-width: 560px;
    text-align: center;
}

.itemsCenter {
    display: flex;
    align-items: center;
}

.summaryTasks {
    max-width: 560px;
    text-align: center;
}

.firstList {
    padding: 38px 50px 38px 58px;
}

.thirdList {
    padding: 25px 58px 25px 58px;
}

.flexDirection p {
    margin: 0;
}

.gap {
    display: flex;
    justify-content: space-around;
}

.maxWidth {
    width: 168px;
}

.summaryInfo {
    height: 168px;
    cursor: pointer;
}

.greet {
    display: flex;
    flex-direction: column;
    padding-left: 64px;
}

.greet h1 {
    color: #29ABE2;
    font-size: 64px;
    font-weight: 700;
    margin: 0;
}

.greet h2 {
    color: #2A3647;
    font-size: 47px;
    font-weight: 500;
    margin: 0;
}

.urgent {
    cursor: pointer;
}

.borderRadius:hover {
    background-color: #2A3647;
    color: white;
    transform: scale(1.05);
    transition: .100s;
}

.hover-image {
    display: none;
}

.firstList:hover .hover-image {
    display: block;
}

.firstList:hover .alternate-image {
    display: none;
}