<div class="sidebar-img">
    <img src="assets/images/Join_white.svg">
</div>
<div class="sidebar-sections">
    <div id="summary" class="sidebar-section">
        <div class="sidebar-section-contents-end">
            <img src="assets/icons/summary.svg">
        </div>
        <div class="sidebar-section-contents-start">
            <a href="summary.html">Summary</a>
        </div>
    </div>
    <div id="tasks" class="sidebar-section">
        <div class="sidebar-section-contents-end">
            <img src="assets/icons/add_task.svg">
        </div>
        <div class="sidebar-section-contents-start">
            <a href="task_form.html">Add Task</a>
        </div>
    </div>
    <div id="board" class="sidebar-section">
        <div class="sidebar-section-contents-end">
            <img src="assets/icons/board.svg">
        </div>
        <div class="sidebar-section-contents-start">
            <a href="#">Board</a>
        </div>
    </div>
    <div id="contactsSection" class="sidebar-section">
        <div class="sidebar-section-contents-end">
            <img src="assets/icons/contacts.svg">
        </div>
        <div class="sidebar-section-contents-start">
            <a href="contacts.html">Contacts</a>
        </div>
    </div>
</div>
<div class="policy-rights-section">
    <a href="#">Privacy Policy</a>
    <a href="#">Legal Notice</a>
</div>