<div class="summaryHead">
    <h1>Join 360</h1>
    <h2>Key Metrics at a Glance</h2>
</div>
<div class="summaryMain">
    <div class="summaryTasks">
        <div class="summaryWidth">
            <div class="summaryInfo">
                <div class="borderRadius firstList">
                    <div class="dFlex">
                        <img class="alternate-image" src="./assets/images/pencil.svg" alt="">
                        <img class="hover-image" src="./assets/images/pencil_white.svg" alt="">
                        <div class="flexDirection">
                            <h1>1</h1>
                            To-do
                        </div>
                    </div>
                </div>
            </div>
            <div class="summaryInfo">
                <div class="borderRadius firstList">
                    <div class="dFlex">
                        <img class="alternate-image" src="./assets/images/done.svg" alt="">
                        <img class="hover-image" src="./assets/images/done_white.svg" alt="">
                        <div class="flexDirection">
                            <h1>1</h1>
                            <span>Done</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="urgent">
            <div class="borderRadius thirdList">
                <div class="dFlex gap">
                    <img src="./assets/images/urgent.svg" alt="">
                    <div class="flexDirection">
                        <h1>1</h1>
                        <span>Urgent</span>
                    </div>
                    <hr>
                    <div class="date">
                        <p>October 16, 2022</p>
                        <p>Upcoming Deadline</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="summaryWidth">
            <div class="taskInfo">
                <div class="summaryInfo maxWidth">
                    <div class="borderRadius">
                        <div class="dFlex">
                            <div class="flexDirection itemsCenter">
                                <h1>1</h1>
                                <span>Tasks in Board</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="taskInfo">
                <div class="summaryInfo maxWidth">
                    <div class="borderRadius">
                        <div class="dFlex">
                            <div class="flexDirection itemsCenter">
                                <h1>1</h1>
                                <span>Tasks In Progress</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="taskInfo">
                <div class="summaryInfo maxWidth">
                    <div class="borderRadius">
                        <div class="dFlex">
                            <div class="flexDirection itemsCenter">
                                <h1>1</h1>
                                <span>Awaiting Feedback</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="greet">
        <h2>Good morning,</h2>
        <h1>Sofia Müller</h1>
    </div>
</section>
