<div class="summaryHead">
    <h1>Join 360</h1>
    <h2>Key Metrics at a Glance</h2>
</div>
<a href="board.html">
    <div class="summaryMain">
        <div class="summaryTasks">
            <div class="summaryWidth">
                <div class="summaryInfo">
                    <div class="borderRadius firstList">
                        <div class="dFlex">
                            <img class="alternate-image" src="./assets/images/pencil.svg" alt="">
                            <img class="hover-image" src="./assets/images/pencil_white.svg" alt="">
                            <div class="flexDirection">
                                <h1 class="card-count" data-section="todo">0</h1> <!-- Hier wird die Anzahl aktualisiert -->
                                To-do
                            </div>
                        </div>
                    </div>
                </div>
</a>
<a href="board.html">
    <div class="summaryInfo">
        <div class="borderRadius firstList">
            <div class="dFlex">
                <img class="alternate-image" src="./assets/images/done.svg" alt="">
                <img class="hover-image" src="./assets/images/done_white.svg" alt="">
                <div class="flexDirection">
                    <h1>1</h1>
                    <span>Done</span>
                </div>
            </div>
        </div>
    </div>
    </div>
</a>
<a href="board.html">
    <div class="urgent">
        <div class="borderRadius thirdList">
            <div class="dFlex gap">
                <img src="./assets/images/urgent.svg" alt="">
                <div id="urgentCounter" class="flexDirection">
                    <h1>1</h1>
                    <span>Urgent</span>
                </div>
                <hr>
                <div id="deadlineDate" class="date">
                    <p>October 16, 2022</p>
                    <p>Upcoming Deadline</p>
                </div>
            </div>
        </div>
    </div>
</a>
<a href="board.html">
    <div class="summaryWidth">
        <div class="taskInfo">
            <div class="summaryInfo maxWidth">
                <div class="borderRadius">
                    <div class="dFlex">
                        <div id="tInBoard" class="flexDirection itemsCenter">
                            <h1>1</h1>
                            <span>Tasks in Board</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</a>
<a href="board.html">
    <div class="taskInfo">
        <div class="summaryInfo maxWidth">
            <div class="borderRadius">
                <div class="dFlex">
                    <div class="flexDirection itemsCenter">
                        <h1>1</h1>
                        <span>Tasks In Progress</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>
<a href="board.html">
    <div class="taskInfo">
        <div class="summaryInfo maxWidth">
            <div class="borderRadius">
                <div class="dFlex">
                    <div class="flexDirection itemsCenter">
                        <h1>1</h1>
                        <span>Awaiting Feedback</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</a>
<div id="greet" class="greet">
</div>
</section>